<h1>New Topic</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for topics:</p>
      <ul>
        <li>Make sure the topic is appropriate.</li>
        <li>Never insult dogs.</li>
        <li>Smile when you type.</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= form_for @topic do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter topic name" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter topic description" %>
      </div>

      <%= f.submit "Save", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
