<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1> Wiki Form </h1>
      <p> Guidelines for Wikis </p>
      <ul>
        <li> Stay on topic </li>
        <li> Incorperate as many puns as possible </li>
        <li> Write nothing your dog would be ashamed of </li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= form_for [@wiki.topic, @wiki] do |f| %>

      <div class="form-group" >
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Wiki Title" %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Wiki Body' %>
      </div>

      <% if current_user.admin? || current_user.premium? %>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
        <% end %>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.collection_check_boxes(:users, @collaborators, :id, :email ) %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>

      </div>


      <% end %>
    </div>
  </div>
</div>
