<% unless current_user.premium?  %>
<div class="container">
  <%= form_tag charges_path do %>
  <h4>Click the button!</h4>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
</div>


  <% else %>
  <h2> Downgrade Account </h2>
  <%= link_to "Yes", downgrade_path, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade your account? All of your private wikis will become public.'} %>
  <%= link_to "No", keep_path, class: 'btn btn-info' %>
  <% end %>
